* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}
a {
	text-decoration: none;
}
body {
	width: 1440px;
	background-image: url('./images/header-background.png');
	background-repeat: no-repeat;
	background-size: 1447px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header {
	margin-top: 30px;
	width: 1103px;
	height: 29px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
}
header img {
	width: 200px;
	height: auto;
}
header a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
header > div {
	display: flex;
	column-gap: 55px;
}
.header-section {
	margin-top: 185px;
	color: #FFFFFF;
}
.big-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.big-title h1 {
	position: absolute;
	top: 220px;
	left: 377px;
	font-weight: 700;
	font-size: 120px;
	line-height: 150px;

}
.big-title p {
	position: absolute;
	top: 361px;
	left: 593px;
	width: 253px;
	display: flex;
	justify-content: center;
	word-spacing: 54px;
	font-weight: 700;
	font-size: 16px;
}
button {
	width: 162px;
	height: 44px;
	background-color: #C271FF;
	border: none;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 14px;
	border-radius: 22px;
}
.big-title button {
	position: absolute;
	top: 419px;
	box-shadow: 0px 2px 20px 0px #00000080;
}
.learn {
	position: absolute;
	top: 631px;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.learn h2 {
	width: 263px;
	display: flex;
	font-weight: 300;
	font-size: 32px;

}
.learn h2 p.styled {
	font-weight: 700;
	color: #C271FF;
}
.learn > div {
	margin-top: 90px;
	width: 1009px;
	height: 237px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.learn img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.indiv-profile {
	width: 150px;
	height: 237px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.quote {
	position: absolute;
	top: 1094px;
	left: 0px;
	width: 1440px;
	height: 392px;
	background-color: #C271FF;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}
.quote img {
	width: 160px; /* Largeur de la zone d'affichage */
    height: 160px; /* Hauteur de la zone d'affichage */
    object-fit: none; /* Redimensionne l'image pour remplir complètement la zone d'affichage */
    object-position: 50% 14%; /* Centre l'image dans la zone d'affichage */
    border-radius: 50%; /* Rend l'image arrondie */

}
.quote .quote-block-1 {
	width: 943px;
	height: 160px;
	display: flex;
	column-gap: 53px;
}
.quote-block-2 blockquote {
	font-weight: 400;
	font-size: 22px;
	line-height: 34px;
	margin-bottom: 20px;
}
.quote-block-2 .name {
	font-weight: 700;
	font-size: 22px;
	line-height: 34px;
}
.quote-block-2 .job {
	font-weight: 400;
	font-size: 22px;
	line-height: 34px;
}
.videos {
	position: absolute;
	top: 1572px;
	left: 106px;
	width: 1228px;
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.videos h1, .membership h1 {
	display: flex;
	font-weight: 300;
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 50px;
}
.videos h1 .styled, .membership h1 .styled {
	font-weight: 700;
	color: #C271FF;
}
.all-video-blocks {
	width: 100%;
	display: flex;
	justify-content: center;
	column-gap: 31px;
}
.video-block {
	position: relative;
	width: 255px;
	height: 335px;
}
.video-block > * {
	padding-left: 10px;
	margin: 9px 0;
}
.video-block > img {
	padding: 0 0;
	margin: 0 0;
	width: 255px; /* Largeur de la zone d'affichage */
    height: 154px; /* Hauteur de la zone d'affichage */
    object-fit: none;
}
.video-block::after {
	content: "";
	position: absolute;
	top: 45px;
	left: 96px;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	background-color: #FFFFFF;
	opacity: 86%;
	z-index: 1;
}
.video-block::before {
	content: "";
	position: absolute;
	top: 69px;
	left: 122px;
	width: 0px;
	height: 0px;
	border-top: 9px solid transparent;
	border-left: 15px solid #C271FF;
	border-bottom: 9px solid transparent;
	z-index: 2;

}
#tuto1 {
    object-position: 62% 27%; /* Centre l'image dans la zone d'affichage */
}

#tuto2 {
    object-position: 100% 52%; /* Centre l'image dans la zone d'affichage */
}
#tuto3 {
    object-position: 100% 52%; /* Centre l'image dans la zone d'affichage */
}
#tuto4 {
    object-position: 40% 52%; /* Centre l'image dans la zone d'affichage */
}
.video-block > div img {
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
.video-block > p {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	width: 242;
	color: #07162980;

}
.author-infos {
	display: flex;
	align-items: center;
	column-gap: 10px;
}
.author-infos, .rating {
	color: #C271FF;
}
.star-empty {
	color: #D8D8D8;
}
.star-full, .star-empty {
	font-size: 20px;
}
.rating {
	display: flex;
	font-weight: 600;
}
.rating p {
	font-size: 14px;
}
h3 {
	font-weight: 600;
	font-size: 14px;
}
.stars {
	display: flex;
	column-gap: 15px;
	margin-right: 70px;
}

.membership {
	position: absolute;
	top: 2109px;
	left: 0;
	width: 1440px;
	height: 502px;
	background-color: #071629;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.membership h1 {
	margin-top: 60px;
}
.membership img {
	width: 44px;
	height: 36px;
}
.membership-block h2 {
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
}
.membership-block p {
	padding: 0 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
}
.all-membership-blocks {
	display: flex;
	justify-content: center;
	column-gap: 25px;
}

.membership-block {
	width: 257px;
	height: 153px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.membership button {
	margin-top: 100px;
}
