* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}
a {
	text-decoration: none;
}
body {
	width: 1440px;
	background-image: url('/images/header-background.png');
	background-repeat: no-repeat;
	background-size: 1447px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header {
	margin-top: 30px;
	width: 1103px;
	height: 29px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
}
header img {
	width: 200px;
	height: auto;
}
header a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
header > div {
	display: flex;
	column-gap: 55px;
}
.header-section {
	margin-top: 185px;
	color: #FFFFFF;
}
.big-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.big-title h1 {
	position: absolute;
	top: 220px;
	left: 377px;
	font-weight: 700;
	font-size: 120px;
	line-height: 150px;

}
.big-title p {
	position: absolute;
	top: 361px;
	left: 593px;
	width: 253px;
	display: flex;
	justify-content: center;
	word-spacing: 54px;
	font-weight: 700;
	font-size: 16px;
}
.big-title button {
	position: absolute;
	top: 419px;
	width: 162px;
	height: 44px;
	border-radius: 22px;
	background-color: #C271FF;
	border: none;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 14px;
	box-shadow: 0px 2px 20px 0px #00000080;
}
.learn {
	position: absolute;
	top: 631px;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.learn h2 {
	width: 263px;
	display: flex;
	font-weight: 300;
	font-size: 32px;

}
.learn h2 p.styled {
	font-weight: 700;
	color: #C271FF;
}
.learn > div {
	margin-top: 90px;
	width: 1009px;
	height: 237px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.learn img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.indiv-profile {
	width: 150px;
	height: 237px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.quote {
	position: absolute;
	top: 1089px;
	left: 0px;
	width: 100%;
	height: 392px;
	background-color: #C271FF;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}
.quote img {
	width: 160px; /* Largeur de la zone d'affichage */
    height: 160px; /* Hauteur de la zone d'affichage */
    object-fit: none; /* Redimensionne l'image pour remplir complètement la zone d'affichage */
    object-position: 50% 14%; /* Centre l'image dans la zone d'affichage */
    border-radius: 50%; /* Rend l'image arrondie */

}
.quote .quote-block-1 {
	width: 943px;
	height: 160px;
	display: flex;
	column-gap: 53px;
}
.quote-block-2 blockquote {
	font-weight: 400;
	font-size: 22px;
	line-height: 34px;
	margin-bottom: 20px;
}
.quote-block-2 .name {
	font-weight: 700;
	font-size: 22px;
	line-height: 34px;
}
.quote-block-2 .job {
	font-weight: 400;
	font-size: 22px;
	line-height: 34px;
}
.videos {
	position: absolute;
	top: 1572px;
	left: 106px;
	width: 1228px;
	height: 450px;
	border: skyblue 1px solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.videos h1 {
	display: flex;
	font-weight: 300;
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 50px;
}
.videos h1 .styled {
	font-weight: 700;
	color: #C271FF;
}
.all-video-blocks {
	width: 100%;
	display: flex;
	justify-content: center;
	column-gap: 31px;
}
.video-block {
	width: 255px;
	height: 335px;
	border: black solid 1px;
}
.all-video-blocks img {
	width: 255px; /* Largeur de la zone d'affichage */
    height: 154px; /* Hauteur de la zone d'affichage */
    object-fit: none; /* Redimensionne l'image pour remplir complètement la zone d'affichage */
    object-position: 60% 14%; /* Centre l'image dans la zone d'affichage */
}
